<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.sapmentors.sapnoteview"
      android:versionCode="5"
      android:versionName="1.03">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".SAPNoteView"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SAPNoteSetup"
                  android:label="@string/app_name_setup">
        </activity>
        <activity android:name=".SAPNoteList"
                  android:label="@string/app_name_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                  
        </activity>        
    </application>
    <uses-sdk android:minSdkVersion="4"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 