<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.sapmentors.sapnoteviewer"
      android:versionCode="18"
      android:versionName="2.1"
      android:installLocation="auto"
      >
      <!-- -->
      
    <application android:icon="@drawable/launcher_icon" android:label="@string/app_name">
        <activity android:name=".SAPNoteHome"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.SAPAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                  
        </activity>          
        
        <activity android:name=".SAPNoteView"
                  android:label="@string/app_name_view"
                  android:theme="@style/Theme.SAPAndroid"
                  android:configChanges="orientation"
                   >
					<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT"></category>
					<category android:name="android.intent.category.BROWSABLE"></category>
					<data android:host="service.sap.com" android:scheme="https"></data>
					<data android:host="websmp100.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp101.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp102.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp103.sap-ag.de" android:scheme="https"></data>					
					<data android:host="websmp110.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp111.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp112.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp113.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp120.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp121.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp122.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp123.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp130.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp131.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp132.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp133.sap-ag.de" android:scheme="https"></data>
					
					<data android:host="websmp200.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp201.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp202.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp203.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp210.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp211.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp212.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp213.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp220.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp221.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp222.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp223.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp230.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp231.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp232.sap-ag.de" android:scheme="https"></data>
					<data android:host="websmp233.sap-ag.de" android:scheme="https"></data>
					
					</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>  
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
                   
        </activity>
        
        <activity android:name=".SAPNotePreferences"
                  android:label="@string/app_name_setup"
                  android:theme="@style/Theme.SAPAndroid">
        </activity>
                
        <activity android:name=".SAPNoteList"
                  android:label="@string/app_name_list"
                  android:theme="@style/Theme.SAPAndroid">               
        </activity>  
        
        <activity android:name=".SAPNoteSearch"
                  android:label="@string/app_name_search"
                  android:theme="@style/Theme.SAPAndroid"
                  android:configChanges="orientation"
                   >  
		</activity>                           

       <activity
            android:name=".NoteQuickSearchActivity"
            android:theme="@style/Theme.SAPAndroid">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.sapmentors.sapnote" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.sapmentors.sapnoteviewerer.QuickSearchActivity"
            android:theme="@style/Theme.SAPAndroid"
            android:label="@string/title_search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>       
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <meta-data android:name="android.app.default_searchable" android:value=".SAPNoteView" />

        <provider
            android:name="org.sapmentors.sapnoteviewer.db.SAPNoteProvider"
            android:authorities="org.sapmentors.sapnoteview.noteprovider"
         />
              
    </application>
    <uses-sdk android:minSdkVersion="3"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!-- Needed for Google analytics -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 